* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

html,
body {
   height: 100%;
   width: 100%;

   font-family: "Poppins", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-family: "Playfair Display", serif;
}

header {
   height: 90%;
   position: relative;
}

.button-main {
   padding: 14px 30px;
   background-color: #757575;
   color: #fff;
   border-radius: 30px;
   border: 0;
   font-size: 14px;
   letter-spacing: 0.4px;

   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
}
.button-main-outline {
   background-color: #fff;
   border: 1px solid #757575;
   color: #757575;
}
