#hamburger-menu {
    cursor: pointer;
    width: 30px;
    height: 25px;

    position: absolute;
    top: 10px;
    left: 57%;

    z-index: 800;

    opacity: 0;
    animation: fadeIn .5s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}

#hamburger-menu:hover span:nth-last-of-type(1) {
    transform: translateY(2px);
}

#hamburger-menu:hover span:nth-last-of-type(3) {
    transform: translateY(-2px);
}

#hamburger-menu span {
    display: block;
    height: 2.5px;
    background-color: #7f7f7f;
    margin: 5px 0;
    transition: 0.4s;
    border-radius: 2px;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fefefe;
    z-index: 999;
    transition: .3s ease-out;

    display: none;
    transform: translateY(-100%);
}

nav table {
    width: 100%;
    table-layout: fixed;
}

nav tr {
    height: 60px;
    width: 100%;
}

nav tr:not(:nth-of-type(1)) {
    display: none;
}

nav tr.moreMenu.show {
    display: table-row;
}

nav table td {
    text-align: center;
}
nav table td a {
    color: #0e0e0e;
    transition: .2s;
}

.svg-line {
    transition: stroke 0.3s ease;
}

nav svg:hover .svg-line {
    stroke: #afdacb;
}

nav table td:hover,
nav table td:hover a {
    color: #afdacb;
}